<?xml version="1.0"?>
<launch>

  <param name="/use_sim_time" value="true"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_panda_description)/robots/panda_arm_hand.urdf.xacro" />

  <!-- Robot state publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Start controllers -->
  <rosparam file="$(find rmr_panda_controllers)/config/rmr_panda_controllers.yaml" command="load"/> 

  <!--node name="controller_manager_spawner" pkg="controller_manager" type="spawner" args="CONTROLLER" /-->

</launch>
