<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py 'PATH_TO_ROBOT_URDF/XACRO_FILE'" />

  <!-- Robot state publisher node -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Start controllers -->
  <rosparam file="PATH_TO_CONTROLLER_CONFIGURATION_FILE.YAML" command="load"/> 

  <node name="controller_manager_spawner" pkg="controller_manager" type="spawner" args="CONTROLLER" />

</launch>
